<!DOCTYPE html>
<html>
<head>
   
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
</head>
<body>
    

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    
</body>
</html>